.task-date {
    @include box-overlay();
    background: #fff;
    width: 200px;
    right: 0;

    &__list li {
        @include task-item();

        span:first-of-type {
            margin-right: 10px;

            svg {
                fill: gray;
            }
        }
    }
}
